<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>RMS</title>
  </head>
  <body>
    <hr />
    <p>Number of tenants {{occupiedRooms}}</p>
    <p>Total Payments {{paymentsMade}} made on {{month_name}}</p>
    <p>Amount Paid for {{month_name}} : {{totalPayments}}</p>
    <p>Month balances</p>
    <p>Number of houses {{totalUnitNumber}}</p>

    <hr />
  </body>
</html>
